<% provide(:title, 'Spreads') %>
<h1>Spreads</h1>
<h3>Week <%= @nfl_week %> - <%= @nfl_year %></h3>
<table class="table table-striped">
	<thead>
	<tr><th>Favorite</th><th>Spread</th><th>Underdog</th></tr>
	</thead>
	<tbody>
	<% @spreads.each do |spread| %>
		<tr>
			<td>
				<%= spread.favored_team.location %>
			</td>
			<td>
				<%= spread.spread %>
			</td>
			<td>
				<%= spread.under_team.location %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>