<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>

<%= form_for(@user, :html => { class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.uniq.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="control-group">
    <%= f.label :first_name, 'First Name', class: 'control-label' %>
    <div class="controls">
			<%= f.text_field :first_name %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, 'Last Name', class: 'control-label' %>
		<div class="controls">
    	<%= f.text_field :last_name %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
		<div class="controls">
    	<%= f.text_field :email %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
		<div class="controls">
    	<%= f.password_field :password %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, 'Confirmation', class: 'control-label' %>
		<div class="controls">
    	<%= f.password_field :password_confirmation %>
		</div>
  </div>
	<div class="control-group">
		<div class="controls">
    	<%= f.submit 'Register', class: 'btn btn-primary' %>
		</div>
  </div>
<% end %>
