<div class="row">
	<div class="week"><%= "Week #{pick.spread.week}" %></div>
	<div class="pick-table-pick">
		<div class="pick-favored-team <%= 'pick-correct' if(pick.calculate_pick > 0) %><%= 'pick-wrong' if(pick.calculate_pick < 0) %>">
			<span class="<%= 'pick-picked' if(pick.picked_favored?) %>"><%= pick.spread.favored_team.team_name %></span>
			<span class="pick-favored-score"><%= pick.spread.favored_team_score %></span>
		</div>
		<div class="pick-under-team <%= 'pick-correct' if(pick.calculate_pick > 0) %><%= 'pick-wrong' if(pick.calculate_pick < 0) %>">
			<span class="<%= 'pick-picked' unless(pick.picked_favored?) %>"><%= pick.spread.under_team.team_name %></span>
			<span class="pick-under-score"><%= pick.spread.under_team_score %></span>
		</div>
	</div>
	<div class="pick-table-wildcard">
		<%= pick.wildcard %>
	</div>
	<div class="pick-table-spread">
		<%= pick.spread.spread %>
	</div>
	<div class="pick-table-score <%= 'pick-correct' if(pick.calculate_pick > 0) %><%= 'pick-wrong' if(pick.calculate_pick < 0) %>">
		<%= pick.calculate_pick %>
	</div>
	<div class="pick-table-options">
		<!-- Need to fix edit button still -->
		<% if(current_user?(pick.user) || current_user.admin?)%>
			<%= link_to "edit", edit_pick_path(pick.id) %> |
			<%= link_to "delete", pick, method: :delete, data: { confirm: "You sure?" }, title: pick.id %>
		<% end %>
	</div>
</div>