<tr>
	<td>
		<%= "Week #{pick.spread.week}" %>
	</td>
	<td>
		<%= "#{pick.nflTeam.location} #{pick.nflTeam.name}" %>
	</td>
	<td>
		<%= pick.spread.spread %>
	</td>
	<td>
		<%= pick.wildcard %>
	</td>
	<td>
		<%= pick.calculate_pick %>
	</td>
	<td>
		<!-- Need to fix edit button still -->
		<% if(current_user?(pick.user) || current_user.admin?)%>
			<%= link_to "edit", edit_pick_path(pick.id) %> |
			<%= link_to "delete", pick, method: :delete, data: { confirm: "You sure?" }, title: pick.id %>
		<% end %>
	</td>
</tr>