<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav" style="float: none">
				<a class="brand pull-left" href="#">Weasels Pick'Em</a>
				<ul class="nav pull-right">
					<li class="divider-vertical"><%= link_to('Home', root_path) %></li>
					<li class="divider-vertical"><%= link_to('Spreads', spreads_path) %></li>
					<li class="divider-vertical"><%= link_to('Help', help_path) %></li>
					<% if(current_user) %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Account
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to('Settings', edit_user_path(current_user)) %></li>
								<li><%= link_to('Sign Out', signout_path) %></li>
							</ul>
						</li>
					<% else %>
						<li class="divider-vertical"><%= link_to('Sign In', signin_path) %></li>
					<% end %>
				</ul>
			</ul>
		</div>
	</div>
</div>